/*Base*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid #F00;*/
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #111;
    /*Add ligatures to font style*/

    font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern=1", "liga=1";
    -ms-font-feature-settings: "kern", "liga";
    -o-font-feature-settings: "kern", "liga";
    -webkit-font-feature-settings: "kern", "liga";
}

p,
h1 {
    color: #000000;
}

p {
    line-height: 1.61em;
}

h1,
figcaption,
#Layer_1,
.footer__p--footerCredit {
    text-align: center;
}

h1, span {
    font-weight: 700;
}

.app__body--background,
.app__div--container,
.main__div--flexContainer,
.main__div--contentContainer,
#Layer_1 {
    margin: 0 auto;
}

.app__body--background,
.nav__ul--container,
.main__h1--alternativeLogo,
#Layer_1 {
    display: block;
}

.app__body--background {
    background-image: url('svgs/backgroundThree.svg');
    background-color: #edeff0;
    background-size: 50px 50px;
    height: 100%;
    width: 100%;
}

.app__div--container {
    width: 95%;
    height: auto;
    background-color: #ffffff;
    z-index: 999;
    padding: 1em;
}

.main__div--flexContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.main__div--contentContainer {
    width: 75%;
    padding: 3em 0 0 0;
}


/*Header*/

li {
    display: inline-block;
    width: 6em;
    height: 1em;
    float: left;
}

span {
    color: #39add1;
    margin: 0 0 0 .3em;
    transition: color .61s ease-out;
}

span:hover {
    color: #111;
}

.nav__svg--heart,
.nav__svg--location,
.nav__svg--contact {
    float: left;
    width: 15px;
    height: 15px;
    transition: fill .61s ease-out;
    fill: #39add1;
}

.nav__svg--heart:hover,
.nav__svg--location:hover,
.nav__svg--contact:hover {
    fill: #111;
}

/*Body*/

figcaption,
.footer__p--footerCredit {
    color: #ba8058;
}

footer {
    margin: 100px 0 0 0;
}

.main__h1--alternativeLogo {
    position: relative;
    top: 3em;
    margin: 2em auto;
    color: #EAAA7F;
}
#Layer_1 {
    position: relative;
    top: 3em;
    height: 120px;
    width: 140px;
    clear: both;
}

.main__g--logoTitle {
    display: none;
}

.corgiPics,
#redCorgi,
#fawnCorgi,
#sableCorgi,
#blackAndTanCorgi {
    width: 9em;
    height: 9em;
}

.main__path--redCorgiRightEar,
.main__path--redCorgiLeftEar,
.main__path--redCorgiFace,
.main__path--sableCorgiRightEyebrow,
.main__path--sableCorgiLeftEyebrow,
.main__path--blackAndTanCorgiRightEar,
.main__path--blackAndTanCorgiLeftEar,
.main__path--blackAndTanCorgiLeftEyebrow,
.main__path--blackAndTanCorgiRightEyebrow,
.main__ellipse--innerEllipseLogo {
    fill: #BA8058;
}

.main__path--redCorgiJaws,
.main__path--fawnCorgiJaws,
.main__path--sableCorgiJaws,
.main__path--blackAndTanCorgiJaws {
    fill:#FBFEFF;
}

.main__path--redCorgiNose,
.main__path--redCorgiLeftEye,
.main__path--redCorgiRightEye,
.main__path--fawnCorgiNose,
.main__path--fawnCorgiLeftEye,
.main__path--fawnCorgiRightEye,
.main__path--sableCorgiRightEye,
.main__path--sableCorgiLeftEye,
.main__path--sableCorgiNose,
.main__path--blackAndTanCorgiNose,
.main__path--blackAndTanCorgiRightEye,
.main__path--blackAndTanCorgiLeftEye {
    fill:#2D3339;
}

.main__path--fawnCorgiLeftEar,
.main__path--fawnCorgiRightEar,
.main__path--fawnCorgiFace,
.main__path--redCorgiRightEyebrow,
.main__path--redCorgiLeftEyebrow,
.main__path--p,
.main__path--a,
.main__path--w,
.main__path--r,
.main__path--i,
.main__path--n,
.main__path--t,
.main__path--k,
.main__path--e,
.main__path--l,
.main__path--s {
    fill:#EAAA7F;
}

.main__path--fawnCorgiRightEyebrow,
.main__path--fawnCorgiLeftEyebrow,
.main__path--middleToePad,
.main__path--rightToePad,
.main__path--leftToePad,
.main__path--heelPad {
    fill:#F4C6A6;
}

.main__path--sableCorgiRightEar,
.main__path--sableCorgiLeftEar,
.main__path--sableCorgiFace {
    fill:#844B24;
}

.main__path--blackAndTanCorgiFace {
    fill:#52595F;
}

/*Media Queries*/

@media screen and (min-width: 768px){
    .app__div--container {
        width: 75%;
    }

    .main__div--contentContainer {
        width: 40%;
    }
}

@media screen and (min-width: 420px) {
    .main__h1--alternativeLogo {
        display: none;
    }

    .main__g--logoTitle {
        display: block;
    }
}

